<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2> About Us </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, tempore molestias voluptates facilis, aliquam praesentium cupiditate recusandae esse reiciendis harum, adipisci consequatur consequuntur atque! Praesentium eos velit ratione porro id! </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, aliquam a sequi pariatur itaque sunt quae error adipisci, veniam provident consequatur ducimus dolor saepe atque voluptatum in, molestiae quos delectus? </p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, asperiores recusandae velit quibusdam inventore reprehenderit exercitationem magnam deserunt ullam. Cum id voluptates sint impedit placeat quod dolore accusamus recusandae consectetur. </p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>




